* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: arial, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 30px;
  margin-top: 20px;
}

nav a {
  font-size: 13px;
  display: inline-block;
  line-height: 25px;
  font-weight: 400;
  color: rgb(0, 0, 0, 0.8);
  cursor: pointer;
  padding: 5px 6px;
}
nav a:hover {
  text-decoration: underline;
  opacity: 0.8;
}

nav img {
  width: 30px;
  padding: 5px;
  margin: auto 5px;
  cursor: pointer;
}
nav img:hover {
  opacity: 0.5;
}
nav button {
  border: 1px solid #4285f4;
  font-weight: bold;
  background: #4285f4;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}
footer {
  background: #f2f2f2;
}
footer h4 {
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
  line-height: 40px;
  font-weight: 400;
  padding-left: 40px;
  border: 1px solid #eee;
}
footer a {
  color: #5f6368;
  display: inline-block;
  padding: 12px 11.3px;
  font-size: 14px;
}
footer a:hover {
  text-decoration: underline;
}

.search-section {
  /* When we give this flex section same as i learned in Flutter */
  /* This section will grow up as long as empty space. */
  flex: 1;
}
.search-section .logo {
  display: block;
  margin: 0px auto;
  margin-top: 20vh;
}
.search-box {
  width: 40vw;
  margin: 0px auto;
  position: relative;
  text-align: center;
}
.search-box .search-input {
  /* Fix border-color for safari browser */
  -webkit-appearance: none;
  appearance: none;
  display: block;
  border: 1px solid #ddd;
  color: rgba(0, 0, 0, 0.8);
  font-size: 15px;
  padding: 15px;
  padding-left: 45px;
  border-radius: 25px;
  width: 100%;
  transition: box-shadow 100ms;
  outline: none;
}

.search-box .search-input:hover {
  border: 1px solid #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.05), 0 0 2px rgba(0, 0, 0, 0.05),
    0 0 3px rgba(0, 0, 0, 0.05), 0 0 4px rgba(0, 0, 0, 0.05),
    0 0 5px rgba(0, 0, 0, 0.05), 0 0 4px rgba(0, 0, 0, 0.05),
    0 0 5px rgba(0, 0, 0, 0.05);
}
.search-box .search-icon {
  width: 20px;
  opacity: 0.5;
  position: absolute;
  top: 15px;
  left: 15px;
}
.search-box .voice-icon {
  width: 15px;
  position: absolute;
  top: 15px;
  right: 25px;
}
.search-button {
  /* Fix button background for safari  */
  -webkit-appearance: none;
  appearance: none;
  background: #f2f2f2;
  border: 1px solid transparent;
  margin-top: 25px;
  padding: 10px 15px;
  color: #666;
  font-size: 13px;
  border-radius: 5px;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  /* To give smooth border-color we apply 100ms */
  transition: border-color 100ms;
}
.search-button:hover {
  border-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.links {
  border-top: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-side-link {
  padding-left: 20px;
}
.right-side-link {
  padding-left: 20px;
}

.middle-link {
  padding-right: 150px;
  text-align: center;
  flex: 1;
}
.carbon-img {
  width: 10px;
}

/* Media Query for Mobile */

@media (max-width: 768px) {
  .search-box {
    width: 80vw;
  }
  .search-box .search-input {
    font-size: 13px;
  }
  .search-box .search-icon {
    width: 15px;
  }
  .search-box .voice-icon {
    width: 10px;
  }
  .search-button {
    padding: 8px 10px;
    font-size: 12px;
  }
  .links {
    display: none;
  }
  .middle-link {
    padding-right: 0px;
  }
  .left-side-link {
    padding-left: 0px;
  }
  .right-side-link {
    padding-left: 0px;
  }
  nav {
    margin-right: 10px;
  }
  nav img {
    width: 25px;
  }
  nav button {
    padding: 8px;
    font-size: 12px;
  }
  footer h4 {
    padding-left: 10px;
  }
  footer a {
    padding: 10px 9.3px;
    font-size: 12px;
  }
}

/* Media Query for tablets */

@media (max-width: 1024px) {
  .search-box {
    width: 60vw;
  }
  .search-box .search-input {
    font-size: 14px;
  }
  .search-box .search-icon {
    width: 18px;
  }
  .search-box .voice-icon {
    width: 13px;
  }
  .search-button {
    padding: 9px 12px;
    font-size: 13px;
  }
  nav {
    margin-right: 20px;
  }
  nav img {
    width: 28px;
  }
  nav button {
    padding: 9px;
    font-size: 13px;
  }
  footer h4 {
    padding-left: 20px;
  }
  footer a {
    padding: 11px 10.3px;
    font-size: 13px;
  }
  .middle-link {
    padding-right: 10px;
  }
}
